body {
  background-color: rgb(87, 82, 82);
  background-repeat: no-repeat;
  background-size: cover;
}

div {
  color: rgba(43, 5, 5, 0.849);
}
div .tituloForm {
  text-decoration: underline;
}
div .sloganForm {
  color: black;
}
div .fondoForm {
  background-color: brown;
}
div .smallForm {
  font-size: 20px;
}
div .colorBtn {
  background-color: rgba(39, 37, 37, 0.7725490196);
  color: black;
  font-size: 1.5rem;
  margin: 5px;
}
div .colorBtn:hover {
  background-color: brown;
  color: black;
}

.body1 {
  background-image: linear-gradient(rgba(240, 9, 9, 0.877), rgba(7, 6, 6, 0.884));
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

header h1 {
  font-size: 80px;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  margin-top: 20px;
  color: whitesmoke;
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;
}
header h1 nav .fuentesNav li .nav-link {
  color: white;
}

main div {
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}
main div h2 {
  font-size: 50px;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  margin-bottom: 10rem;
  margin-top: 7rem;
  color: rgba(168, 157, 157, 0.781);
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.resultados1 {
  background-image: linear-gradient(rgba(43, 5, 5, 0.849), brown);
  background-attachment: fixed;
  align-items: center;
}

.bodyes {
  background-color: rgba(4, 15, 15, 0.637);
}

.card {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  margin-right: 5%;
  height: 380px;
}
.card img {
  width: 100px;
}

/*estadisticas listado*/
div .estadistica2 {
  color: brown;
  font-size: 20px;
}
div .estadistica2 h3 {
  color: whitesmoke;
}
div .estadistica2 .skills .detalles span {
  color: whitesmoke;
}

.arg {
  color: whitesmoke;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}
.arg .arg h2 {
  text-align: center;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}
.arg p {
  text-align: center;
  justify-content: space-between;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}
.arg .parra {
  text-align: center;
}

.contenedorGol {
  display: flex;
  justify-content: center;
}

.gol {
  margin-left: 40px;
}

.FOR {
  font-size: 80px;
  color: whitesmoke;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  position: relative;
  right: 50%;
}

.tarjeta {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin: 10px;
}

.argentina {
  background-image: linear-gradient(brown, rgba(43, 5, 5, 0.849));
  background-attachment: fixed;
}

.holanda {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  justify-content: center;
  font-size: 20px;
}
.holanda .hol1 {
  margin-left: 20px;
  color: whitesmoke;
}
.holanda .hol2 {
  margin-left: 20px;
  color: whitesmoke;
  margin-left: 50px;
}

.estadistica2 {
  text-align: center;
  position: relative;
  left: 25%;
  background-color: rgba(39, 37, 37, 0.7725490196);
  color: whitesmoke;
  padding: 10px;
  width: 50%;
  height: 50%;
}
.estadistica2 .detalles {
  display: flex;
  justify-content: space-between;
}

.body3 {
  background-image: linear-gradient(rgba(43, 5, 5, 0.849), brown);
  background-attachment: fixed;
}

.mex .mex1 {
  margin-right: 10%;
  color: whitesmoke;
  font-size: 20px;
}
.mex .mex2 {
  margin-right: 10%;
  color: whitesmoke;
  font-size: 20px;
}

.body4 {
  background-image: linear-gradient(brown, rgba(43, 5, 5, 0.849));
  background-attachment: fixed;
}

.polonia {
  color: whitesmoke;
  font-size: 20px;
}
.polonia .pol1 {
  margin-left: 150px;
  color: whitesmoke;
}
.polonia .pol2 {
  margin-left: 150px;
  color: whitesmoke;
}

.body6 {
  background-image: linear-gradient(rgba(43, 5, 5, 0.849), brown);
  background-attachment: fixed;
}

.holanda {
  display: flex;
  justify-content: center;
}
.holanda .hol1 {
  margin-left: 20px;
}
.holanda .hol2 {
  margin-left: 20px;
}

.body6 {
  background-image: linear-gradient(rgba(43, 5, 5, 0.849), brown);
  background-attachment: fixed;
}

.arg div h2 {
  margin-right: 10px;
}
.arg div h2 p {
  margin-right: 70%;
  font-size: 30px;
}

.holanda {
  display: flex;
  justify-content: center;
}
.holanda .hol1 {
  margin-left: 20px;
  color: whitesmoke;
}
.holanda .hol2 {
  margin-left: 20px;
  color: whitesmoke;
}

.body7 {
  background-image: linear-gradient(brown, rgba(43, 5, 5, 0.849));
  background-attachment: fixed;
}

.arg .croacia {
  font-size: 20px;
}
.arg .croacia .cro {
  color: whitesmoke;
  font-size: 20px;
  margin-right: 10%;
}
.arg .croacia .cro2 {
  color: whitesmoke;
  font-size: 20px;
  margin-right: 10%;
}

.body8 {
  background-image: linear-gradient(brown, rgba(43, 5, 5, 0.849));
  background-attachment: fixed;
}

.arg h2 p {
  margin-right: 70%;
}
.arg .francia {
  display: flex;
  justify-content: center;
  font-size: 20px;
}
.arg .francia .fra1 {
  margin-right: 20px;
  color: whitesmoke;
}
.arg .francia .fra2 {
  margin-left: 20px;
  color: whitesmoke;
}

.bodyfotos {
  background-color: rgba(43, 5, 5, 0.849);
}

.fot {
  color: whitesmoke;
}

.row img {
  width: 300px;
}

.body9 {
  background-image: url(https://cnnespanol.cnn.com/wp-content/uploads/2022/12/GettyImages-1450110363.jpg?quality=100&strip=info);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}

.par1 {
  text-align: left;
  color: rgba(43, 5, 5, 0.849);
  display: flex;
}

.list-inline-item {
  color: rgba(43, 5, 5, 0.849);
}

.principal h1 {
  color: brown;
  font-size: 30px;
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
  text-align: center;
}
.principal h2 {
  color: rgba(39, 37, 37, 0.7725490196);
  font-size: 20px;
  text-align: center;
}

div .tituloForm {
  text-decoration: underline;
}
div .sloganForm {
  color: black;
}
div .fondoForm {
  background-color: brown;
}
div .smallForm {
  font-size: 20px;
}
div .colorBtn {
  background-color: rgba(39, 37, 37, 0.7725490196);
  color: black;
  font-size: 1.5rem;
  margin: 5px;
}
div .colorBtn:hover {
  background-color: brown;
  color: black;
}

.main2 {
  color: white;
  text-align: center;
  font-size: 30px;
  margin-top: 30px;
}

article {
  text-align: center;
}
article h2 {
  color: whitesmoke;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}
article p {
  color: whitesmoke;
}

header h1 {
  margin-left: 20px;
  font-size: 50px;
  text-align: center;
}

.sport {
  font-size: 20px;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  color: whitesmoke;
  position: relative;
  color: whitesmoke;
  text-align: center;
}

.init {
  color: whitesmoke;
}

.nav ul li a {
  text-decoration: none;
  color: whitesmoke;
  padding-right: 10px;
  padding-top: 10px;
  font-size: 20px;
}

.partidos h1 {
  color: whitesmoke;
  font-size: 80px;
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
}

.esta h1 {
  font-size: 80px;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande", "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

@media screen and (max-width: 600px) {
  .container h1 {
    text-align: center;
    font-size: 20px;
    font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
    margin-top: 20px;
  }
  main div {
    font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  }
  main div h2 {
    font-size: 15px;
    font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
    margin-bottom: 5rem;
    margin-top: 7rem;
    color: rgba(168, 157, 157, 0.781);
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
  }
  header {
    color: whitesmoke;
    margin-bottom: 0;
  }
  .principal h1 {
    color: whitesmoke;
    font-size: 40px;
    font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
    text-align: center;
  }
  .principal p {
    color: whitesmoke;
    font-size: 10px;
    text-align: center;
  }
  .partidos {
    color: whitesmoke;
    font-size: 40px;
    text-align: center;
  }
  h2 {
    color: whitesmoke;
    font-size: 25px;
    margin-left: 20px;
  }
  main h2 {
    color: whitesmoke;
    font-size: 20px;
    display: flex;
  }
  /*estadisticas listado*/
  .estadistica2 {
    color: brown;
    font-size: 10px;
    width: 200px;
    margin-right: 10%;
  }
  .estadistica2 h3 {
    color: whitesmoke;
  }
  .estadistica2 .skills .detalles span {
    color: whitesmoke;
  }
  .esta h1 {
    font-size: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
  }
  .arg {
    color: whitesmoke;
  }
  .arg div h2 {
    text-align: center;
    font-size: 25px;
    color: whitesmoke;
  }
  .arg div h2 .parra {
    font-size: 15px;
    margin-right: 3px;
  }
  p {
    text-align: center;
    justify-content: space-between;
  }
  .holanda {
    justify-content: center;
  }
  .holanda .hol1 {
    margin-left: 10px;
  }
  .holanda .hol2 {
    text-align: center;
  }
  .polonia {
    color: whitesmoke;
  }
  .polonia .pol1 {
    margin-left: 100px;
    font-size: 10px;
  }
  .polonia .pol2 {
    margin-left: 100px;
    font-size: 10px;
  }
  main .tarjeta {
    width: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: 20px;
  }
}
@media screen and (min-width: 601px) and (max-width: 1200px) {
  .container h1 {
    font-size: 30px;
    font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
    margin-top: 20px;
    margin-left: 10px;
  }
  main div {
    font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  }
  main div h2 {
    font-size: 30px;
    font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
    margin-bottom: 10rem;
    margin-top: 7rem;
    color: rgba(168, 157, 157, 0.781);
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
  }
  header {
    color: whitesmoke;
    margin-bottom: 0;
  }
  .principal h1 {
    color: whitesmoke;
    font-size: 60px;
    font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
    text-align: center;
  }
  .principal p {
    color: whitesmoke;
    font-size: 10px;
    text-align: center;
  }
  .partidos {
    color: whitesmoke;
    font-size: 40px;
    text-align: center;
  }
  h2 {
    color: whitesmoke;
    font-size: 30px;
    margin-left: 20px;
  }
  main h2 {
    color: whitesmoke;
    font-size: 30px;
    display: flex;
  }
  div .estadistica2 {
    color: brown;
    font-size: 20px;
  }
  div .estadistica2 h3 {
    color: whitesmoke;
  }
  div .estadistica2 .skills .detalles span {
    color: whitesmoke;
    justify-content: space-between;
  }
  .esta h1 {
    font-size: 35px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
  }
  .arg {
    color: whitesmoke;
  }
  .arg div h2 {
    text-align: center;
    font-size: 35px;
    color: whitesmoke;
  }
  .arg div h2 .parra {
    font-size: 25px;
    margin-right: 3px;
  }
  p {
    text-align: center;
    justify-content: space-between;
  }
  .holanda {
    justify-content: center;
  }
  .holanda .hol1 {
    margin-left: 10px;
  }
  .holanda .hol2 {
    text-align: center;
  }
  .mex .mex1 {
    color: whitesmoke;
    text-align: center;
  }
  .mex .mex2 {
    text-align: center;
  }
  .polonia {
    color: whitesmoke;
  }
  .polonia .pol1 {
    margin-right: 30px;
    font-size: 20px;
  }
  .polonia .pol2 {
    margin-right: 30px;
    font-size: 20px;
  }
  main .tarjeta {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: 20px;
    width: 350px;
    margin-left: 150px;
  }
  main .tarjeta div h5 {
    font-size: 15px;
  }
}
@media screen and (min-width: 1200px) {
  .container h1 {
    text-align: center;
    font-size: 80px;
    font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
    margin-top: 20px;
  }
  .fuentesNav {
    color: rgb(153, 5, 5);
    display: flex;
    height: 5vh;
    gap: 25px;
    flex-wrap: wrap;
    justify-content: center;
  }
  .fuentesNav li {
    border: 3px;
    transition: all 0.6s ease;
    background-color: rgba(37, 35, 35, 0.021);
    width: 220px;
  }
  .fuentesNav li a {
    font-size: 25px;
  }
  .fuentesNav li a:hover {
    box-shadow: 0 0 20px var(--color);
    border-color: var(--color);
    margin-right: 50px;
    margin-left: 50px;
    transition: all 0.8s ease;
  }
  header {
    color: whitesmoke;
    margin-bottom: 0;
  }
  .principal h1 {
    color: whitesmoke;
    font-size: 60px;
    font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
    text-align: center;
  }
  .principal h2 {
    color: whitesmoke;
    font-size: 30px;
    text-align: center;
  }
  .principal div {
    color: rgba(43, 5, 5, 0.849);
  }
  .principal div .tituloForm {
    text-decoration: underline;
  }
  .principal div .sloganForm {
    color: black;
  }
  .principal div .fondoForm {
    background-color: brown;
  }
  .principal div .smallForm {
    font-size: 15px;
  }
  .principal div .colorBtn {
    background-color: rgba(39, 37, 37, 0.7725490196);
    color: black;
    font-size: 1.5rem;
    margin: 5px;
  }
  .principal div .colorBtn:hover {
    background-color: brown;
    color: black;
  }
  .partidos {
    color: whitesmoke;
    font-size: 50px;
    text-align: center;
  }
  .container .row .card {
    width: 20rem;
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
  }
  header h1 {
    font-size: 40px;
    text-align: center;
  }
  .arg {
    color: whitesmoke;
  }
  .arg div h2 {
    text-align: center;
    font-size: 35px;
    color: whitesmoke;
  }
  .arg div h2 .parra {
    font-size: 25px;
    margin-right: 3px;
  }
  p {
    text-align: center;
    justify-content: space-between;
  }
  .holanda {
    justify-content: center;
  }
  .holanda .hol1 {
    margin-left: 10px;
  }
  .holanda .hol2 {
    text-align: center;
  }
  .polonia {
    color: whitesmoke;
  }
  .polonia .pol1 {
    margin-left: 155px;
    font-size: 20px;
  }
  .polonia .pol2 {
    margin-left: 155px;
    font-size: 20px;
  }
  main .tarjeta {
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
  }
}

/*# sourceMappingURL=style.css.map */
