.body {
  background-image: url(https://64.media.tumblr.com/e397f20cfa9372791d538684e2bcbb1f/042f36c25a0e0f00-56/s540x810/379baca5607cdde699dccd32d25a89bf1c90f267.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

div .tituloForm {
  text-decoration: underline;
}
div .sloganForm {
  color: black;
}
div .fondoForm {
  background-color: brown;
}
div .smallForm {
  font-size: 20px;
}
div .colorBtn {
  background-color: rgba(39, 37, 37, 0.7725490196);
  color: black;
  font-size: 1.5rem;
  margin: 5px;
}
div .colorBtn:hover {
  background-color: brown;
  color: black;
}

.principal h1 {
  color: rgba(39, 37, 37, 0.7725490196);
  font-size: 80px;
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
  text-align: center;
}
.principal p {
  color: whitesmoke;
  font-size: 20px;
  text-align: center;
}

.body1 {
  background-image: linear-gradient(rgba(43, 5, 5, 0.849), brown);
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.container h1 {
  color: whitesmoke;
  text-align: center;
  font-family: Georgia, "Times New Roman", Times, serif;
  font-size: 60px;
}
.container h2 {
  display: inline;
  color: whitesmoke;
  text-align: center;
  font-size: 30px;
  margin-left: 100px;
  margin-top: 15%;
}

/*NAV*/
.fuentesNav {
  font-size: 1.4rem;
  padding-left: 3rem;
  margin-bottom: 0;
}
.fuentesNav li {
  margin-top: 5%;
  margin-left: 100px;
  align-items: center;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}
.fuentesNav li a {
  color: aliceblue;
  align-items: center;
}

header {
  color: whitesmoke;
  margin-bottom: 0;
}

.resultados1 {
  background-image: linear-gradient(rgba(43, 5, 5, 0.849), brown);
  background-attachment: fixed;
  align-items: center;
}

.bodyes {
  background-image: linear-gradient(rgba(0, 0, 0, 0.63), rgba(255, 0, 0, 0.788));
}

main h1 {
  color: whitesmoke;
  font-family: Georgia, "Times New Roman", Times, serif;
}

.row {
  border-radius: 10px;
  width: 100%;
  height: 90%;
  padding: 10px;
  margin-top: 5px;
  margin-right: 5px;
}

/*estadisticas generales*/
.estadistica {
  color: brown;
  font-size: 80px;
}

.arg {
  color: whitesmoke;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}
.arg .arg h2 {
  text-align: center;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}
.arg p {
  text-align: center;
  justify-content: space-between;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}
.arg .parra {
  text-align: center;
}

.contenedorGol {
  display: flex;
  justify-content: center;
}

.gol {
  margin-left: 40px;
}

.FOR {
  font-size: 80px;
  color: whitesmoke;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  position: relative;
  right: 50%;
}

.argentina {
  background-image: linear-gradient(brown, rgba(43, 5, 5, 0.849));
  background-attachment: fixed;
}

.holanda {
  justify-content: center;
}
.holanda .hol1 {
  margin-left: 20px;
}
.holanda .hol2 {
  margin-left: 20px;
}

.estadistica2 {
  text-align: center;
  position: relative;
  left: 25%;
  background-color: rgba(39, 37, 37, 0.7725490196);
  color: whitesmoke;
  padding: 10px;
  width: 50%;
  height: 50%;
}
.estadistica2 .detalles {
  display: flex;
  justify-content: space-between;
}

.body3 {
  background-image: linear-gradient(rgba(43, 5, 5, 0.849), brown);
  background-attachment: fixed;
}

.mex .mex1 {
  margin-right: 10%;
}
.mex .mex2 {
  margin-right: 10%;
}

.body4 {
  background-image: linear-gradient(brown, rgba(43, 5, 5, 0.849));
  background-attachment: fixed;
}

.polonia {
  color: whitesmoke;
}
.polonia .pol1 {
  margin-left: 150px;
}
.polonia .pol2 {
  margin-left: 150px;
}

.body6 {
  background-image: linear-gradient(rgba(43, 5, 5, 0.849), brown);
  background-attachment: fixed;
}

.holanda {
  display: flex;
  justify-content: center;
}
.holanda .hol1 {
  margin-left: 20px;
}
.holanda .hol2 {
  margin-left: 20px;
}

.body6 {
  background-image: linear-gradient(rgba(43, 5, 5, 0.849), brown);
  background-attachment: fixed;
}

.arg div h2 {
  margin-right: 10px;
}
.arg div h2 p {
  margin-right: 70%;
  font-size: 30px;
}

.holanda {
  display: flex;
  justify-content: center;
}
.holanda .hol1 {
  margin-left: 20px;
}
.holanda .hol2 {
  margin-left: 20px;
}

.body7 {
  background-image: linear-gradient(brown, rgba(43, 5, 5, 0.849));
  background-attachment: fixed;
}

.body8 {
  background-image: linear-gradient(brown, rgba(43, 5, 5, 0.849));
  background-attachment: fixed;
}

.arg h2 p {
  margin-right: 70%;
}
.arg .francia {
  display: flex;
  justify-content: center;
}
.arg .francia .fra1 {
  margin-right: 20px;
}
.arg .francia .fra2 {
  margin-left: 20px;
}

.bodyfotos {
  background-color: rgba(43, 5, 5, 0.849);
}

.fot {
  color: whitesmoke;
}

.row img {
  width: 300px;
}

.body9 {
  background-image: url(https://cnnespanol.cnn.com/wp-content/uploads/2022/12/GettyImages-1450110363.jpg?quality=100&strip=info);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}

.par1 {
  text-align: left;
  color: rgba(43, 5, 5, 0.849);
  display: flex;
}

.bg-light-text-dark-pt-5-pb-4 {
  text-align: end;
}

.list-inline-item {
  color: rgba(43, 5, 5, 0.849);
}

.principal h1 {
  color: rgba(39, 37, 37, 0.7725490196);
  font-size: 80px;
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
  text-align: center;
}
.principal p {
  color: whitesmoke;
  font-size: 20px;
  text-align: center;
}

div .tituloForm {
  text-decoration: underline;
}
div .sloganForm {
  color: black;
}
div .fondoForm {
  background-color: brown;
}
div .smallForm {
  font-size: 20px;
}
div .colorBtn {
  background-color: rgba(39, 37, 37, 0.7725490196);
  color: black;
  font-size: 1.5rem;
  margin: 5px;
}
div .colorBtn:hover {
  background-color: brown;
  color: black;
}

.main2 {
  color: white;
  text-align: center;
  font-size: 30px;
  margin-top: 30px;
}

article {
  text-align: center;
}
article h2 {
  color: whitesmoke;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}
article p {
  color: whitesmoke;
}

header h1 {
  margin-left: 20px;
  font-size: 50px;
  text-align: center;
}

.sport {
  font-size: 20px;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  color: whitesmoke;
  position: relative;
  color: whitesmoke;
  text-align: center;
}

.init {
  color: whitesmoke;
}

.nav ul li a {
  text-decoration: none;
  color: whitesmoke;
  padding-right: 10px;
  padding-top: 10px;
  font-size: 20px;
}

.partidos {
  color: whitesmoke;
  font-size: 80px;
}

h2 {
  color: whitesmoke;
  font-size: 35px;
  margin-left: 40%;
}

.fase ul li {
  list-style: none;
}
.fase ul li a {
  text-decoration: none;
  color: whitesmoke;
  margin-left: 36rem;
}

@media screen and (max-width: 600px) {
  .principal h1 {
    color: whitesmoke;
    font-size: 40px;
    font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
    text-align: center;
  }
  .principal p {
    color: whitesmoke;
    font-size: 10px;
    text-align: center;
  }
  .partidos {
    color: whitesmoke;
    font-size: 40px;
    text-align: center;
  }
  h2 {
    color: whitesmoke;
    font-size: 25px;
    margin-left: 20px;
  }
  .fase ul li {
    list-style: none;
  }
  .fase ul li a {
    text-decoration: none;
    color: whitesmoke;
    margin-left: 10px;
  }
  header h1 {
    font-size: 30px;
    text-align: center;
  }
  .arg {
    color: whitesmoke;
  }
  .arg div h2 {
    text-align: center;
    font-size: 15px;
  }
  .arg div h2 .parra {
    font-size: 15px;
    margin-right: 3px;
  }
  p {
    text-align: center;
    justify-content: space-between;
  }
  .holanda {
    justify-content: center;
  }
  .holanda .hol1 {
    margin-left: 10px;
  }
  .holanda .hol2 {
    text-align: center;
  }
  .polonia {
    color: whitesmoke;
  }
  .polonia .pol1 {
    margin-left: 100px;
    font-size: 10px;
  }
  .polonia .pol2 {
    margin-left: 100px;
    font-size: 10px;
  }
  article {
    text-align: center;
  }
  article h2 {
    color: whitesmoke;
    font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
    font-size: 15px;
  }
  article p {
    color: whitesmoke;
    font-size: 10px;
  }
  article img {
    width: 200px;
    height: 180px;
  }
}
@media screen and (min-width: 601px) and (max-width: 1200px) {
  .principal h1 {
    color: whitesmoke;
    font-size: 60px;
    font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
    text-align: center;
  }
  .principal p {
    color: whitesmoke;
    font-size: 10px;
    text-align: center;
  }
  .partidos {
    color: whitesmoke;
    font-size: 40px;
    text-align: center;
  }
  h2 {
    color: whitesmoke;
    font-size: 30px;
    margin-left: 20px;
  }
  .fase ul li {
    list-style: none;
  }
  .fase ul li a {
    text-decoration: none;
    color: whitesmoke;
    margin-left: 10px;
  }
  header h1 {
    font-size: 40px;
    text-align: center;
  }
  .arg {
    color: whitesmoke;
  }
  .arg div h2 {
    text-align: center;
    font-size: 35px;
  }
  .arg div h2 .parra {
    font-size: 25px;
    margin-right: 3px;
  }
  p {
    text-align: center;
    justify-content: space-between;
  }
  .holanda {
    justify-content: center;
  }
  .holanda .hol1 {
    margin-left: 10px;
  }
  .holanda .hol2 {
    text-align: center;
  }
  .polonia {
    color: whitesmoke;
  }
  .polonia .pol1 {
    margin-right: 30px;
    font-size: 20px;
  }
  .polonia .pol2 {
    margin-right: 30px;
    font-size: 20px;
  }
  article {
    text-align: center;
  }
  article h2 {
    color: whitesmoke;
    font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
    font-size: 25px;
  }
  article p {
    color: whitesmoke;
    font-size: 20px;
  }
  article img {
    width: 250px;
    height: 300px;
  }
}
@media screen and (min-width: 1201px) {
  .principal h1 {
    color: whitesmoke;
    font-size: 60px;
    font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
    text-align: center;
  }
  .principal p {
    color: whitesmoke;
    font-size: 30px;
    text-align: center;
  }
  .partidos {
    color: whitesmoke;
    font-size: 50px;
    text-align: center;
  }
  h2 {
    color: whitesmoke;
    font-size: 35px;
    margin-left: 20px;
  }
  .fase ul li {
    list-style: none;
  }
  .fase ul li a {
    text-decoration: none;
    color: whitesmoke;
    margin-left: 10px;
  }
  header h1 {
    font-size: 40px;
    text-align: center;
  }
  .arg {
    color: whitesmoke;
  }
  .arg div h2 {
    text-align: center;
    font-size: 35px;
  }
  .arg div h2 .parra {
    font-size: 25px;
    margin-right: 3px;
  }
  p {
    text-align: center;
    justify-content: space-between;
  }
  .holanda {
    justify-content: center;
  }
  .holanda .hol1 {
    margin-left: 10px;
  }
  .holanda .hol2 {
    text-align: center;
  }
  .polonia {
    color: whitesmoke;
  }
  .polonia .pol1 {
    margin-left: 155px;
    font-size: 20px;
  }
  .polonia .pol2 {
    margin-left: 155px;
    font-size: 20px;
  }
  article {
    text-align: center;
  }
  article h2 {
    color: whitesmoke;
    font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  }
  article p {
    color: whitesmoke;
  }
  article img {
    width: 300px;
    height: 350px;
  }
}

/*# sourceMappingURL=style.css.map */
