body {
  background-color: rgb(87, 82, 82);
  background-repeat: no-repeat;
  background-size: cover;
}

div {
  color: rgba(43, 5, 5, 0.849);
}
div .tituloForm {
  text-decoration: underline;
}
div .sloganForm {
  color: black;
}
div .fondoForm {
  background-color: brown;
}
div .smallForm {
  font-size: 20px;
}
div .colorBtn {
  background-color: rgba(39, 37, 37, 0.7725490196);
  color: black;
  font-size: 1.5rem;
  margin: 5px;
}
div .colorBtn:hover {
  background-color: brown;
  color: black;
}

.body1 {
  background-image: linear-gradient(brown, rgba(43, 5, 5, 0.849));
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.container h1 {
  font-size: 80px;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  margin-top: 20px;
  color: whitesmoke;
}

.fuentesNav li a {
  margin-left: 50px;
  margin-right: 150px;
  color: whitesmoke;
}

.resultados1 {
  background-image: linear-gradient(rgba(43, 5, 5, 0.849), brown);
  background-attachment: fixed;
  align-items: center;
}

.bodyes {
  background-image: linear-gradient(brown, rgba(43, 5, 5, 0.849));
}

.row {
  border-radius: 10px;
  width: 100%;
  height: 90%;
  padding: 25px;
  margin-top: 10px;
  margin-bottom: 5px;
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;
}
.row .card {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  margin-left: 100px;
  height: 380px;
}
.row .card img {
  width: 320px;
}

/*estadisticas listado*/
.estadistica {
  color: brown;
  font-size: 80px;
}

.arg {
  color: whitesmoke;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}
.arg .arg h2 {
  text-align: center;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}
.arg p {
  text-align: center;
  justify-content: space-between;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}
.arg .parra {
  text-align: center;
}

.contenedorGol {
  display: flex;
  justify-content: center;
}

.gol {
  margin-left: 40px;
}

.FOR {
  font-size: 80px;
  color: whitesmoke;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  position: relative;
  right: 50%;
}

.argentina {
  background-image: linear-gradient(brown, rgba(43, 5, 5, 0.849));
  background-attachment: fixed;
}

.holanda {
  justify-content: center;
}
.holanda .hol1 {
  margin-left: 20px;
}
.holanda .hol2 {
  margin-left: 20px;
}

.estadistica2 {
  text-align: center;
  position: relative;
  left: 25%;
  background-color: rgba(39, 37, 37, 0.7725490196);
  color: whitesmoke;
  padding: 10px;
  width: 50%;
  height: 50%;
}
.estadistica2 .detalles {
  display: flex;
  justify-content: space-between;
}

.body3 {
  background-image: linear-gradient(rgba(43, 5, 5, 0.849), brown);
  background-attachment: fixed;
}

.mex .mex1 {
  margin-right: 10%;
}
.mex .mex2 {
  margin-right: 10%;
}

.body4 {
  background-image: linear-gradient(brown, rgba(43, 5, 5, 0.849));
  background-attachment: fixed;
}

.polonia {
  color: whitesmoke;
}
.polonia .pol1 {
  margin-left: 150px;
}
.polonia .pol2 {
  margin-left: 150px;
}

.body6 {
  background-image: linear-gradient(rgba(43, 5, 5, 0.849), brown);
  background-attachment: fixed;
}

.holanda {
  display: flex;
  justify-content: center;
}
.holanda .hol1 {
  margin-left: 20px;
}
.holanda .hol2 {
  margin-left: 20px;
}

.body6 {
  background-image: linear-gradient(rgba(43, 5, 5, 0.849), brown);
  background-attachment: fixed;
}

.arg div h2 {
  margin-right: 10px;
}
.arg div h2 p {
  margin-right: 70%;
  font-size: 30px;
}

.holanda {
  display: flex;
  justify-content: center;
}
.holanda .hol1 {
  margin-left: 20px;
}
.holanda .hol2 {
  margin-left: 20px;
}

.body7 {
  background-image: linear-gradient(brown, rgba(43, 5, 5, 0.849));
  background-attachment: fixed;
}

.body8 {
  background-image: linear-gradient(brown, rgba(43, 5, 5, 0.849));
  background-attachment: fixed;
}

.arg h2 p {
  margin-right: 70%;
}
.arg .francia {
  display: flex;
  justify-content: center;
}
.arg .francia .fra1 {
  margin-right: 20px;
}
.arg .francia .fra2 {
  margin-left: 20px;
}

.bodyfotos {
  background-color: rgba(43, 5, 5, 0.849);
}

.fot {
  color: whitesmoke;
}

.row img {
  width: 300px;
}

.body9 {
  background-image: url(https://cnnespanol.cnn.com/wp-content/uploads/2022/12/GettyImages-1450110363.jpg?quality=100&strip=info);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}

.par1 {
  text-align: left;
  color: rgba(43, 5, 5, 0.849);
  display: flex;
}

.bg-light-text-dark-pt-5-pb-4 {
  text-align: end;
}

.list-inline-item {
  color: rgba(43, 5, 5, 0.849);
}

.principal h1 {
  color: brown;
  font-size: 30px;
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
  text-align: center;
}
.principal h2 {
  color: rgba(39, 37, 37, 0.7725490196);
  font-size: 20px;
  text-align: center;
}

div .tituloForm {
  text-decoration: underline;
}
div .sloganForm {
  color: black;
}
div .fondoForm {
  background-color: brown;
}
div .smallForm {
  font-size: 20px;
}
div .colorBtn {
  background-color: rgba(39, 37, 37, 0.7725490196);
  color: black;
  font-size: 1.5rem;
  margin: 5px;
}
div .colorBtn:hover {
  background-color: brown;
  color: black;
}

.main2 {
  color: white;
  text-align: center;
  font-size: 30px;
  margin-top: 30px;
}

article {
  text-align: center;
}
article h2 {
  color: whitesmoke;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}
article p {
  color: whitesmoke;
}

header h1 {
  margin-left: 20px;
  font-size: 50px;
  text-align: center;
}

.sport {
  font-size: 20px;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  color: whitesmoke;
  position: relative;
  color: whitesmoke;
  text-align: center;
}

.init {
  color: whitesmoke;
}

.nav ul li a {
  text-decoration: none;
  color: whitesmoke;
  padding-right: 10px;
  padding-top: 10px;
  font-size: 20px;
}

.partidos h1 {
  color: whitesmoke;
  font-size: 80px;
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
}

.esta h1 {
  font-size: 80px;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande", "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

@media screen and (max-width: 600px) {
  .container h1 {
    text-align: center;
    font-size: 20px;
    font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
    margin-top: 20px;
  }
  .fuentesNav {
    font-size: 10px;
    padding-left: 3rem;
    margin-bottom: 0;
    text-align: center;
  }
  .fuentesNav li {
    margin-top: 3%;
    align-items: center;
    font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  }
  .fuentesNav li a {
    color: aliceblue;
    margin-left: 10px;
  }
  header {
    color: whitesmoke;
    margin-bottom: 0;
  }
  .principal h1 {
    color: whitesmoke;
    font-size: 40px;
    font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
    text-align: center;
  }
  .principal p {
    color: whitesmoke;
    font-size: 10px;
    text-align: center;
  }
  .partidos {
    color: whitesmoke;
    font-size: 40px;
    text-align: center;
  }
  h2 {
    color: whitesmoke;
    font-size: 25px;
    margin-left: 20px;
  }
  main h2 {
    color: whitesmoke;
    font-size: 20px;
    display: flex;
  }
  header h1 {
    font-size: 30px;
    margin-left: 20px;
  }
  .arg {
    color: whitesmoke;
  }
  .arg div h2 {
    margin-left: 20px;
    font-size: 15px;
  }
  .arg div h2 .parra {
    font-size: 15px;
    margin-right: 3px;
  }
  p {
    text-align: center;
    justify-content: space-between;
  }
  .holanda {
    justify-content: center;
  }
  .holanda .hol1 {
    margin-left: 10px;
  }
  .holanda .hol2 {
    text-align: center;
  }
  .polonia {
    color: whitesmoke;
  }
  .polonia .pol1 {
    margin-left: 100px;
    font-size: 10px;
  }
  .polonia .pol2 {
    margin-left: 100px;
    font-size: 10px;
  }
  article {
    text-align: center;
  }
  article h2 {
    color: whitesmoke;
    font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
    font-size: 15px;
  }
  article p {
    color: whitesmoke;
    font-size: 10px;
  }
  article img {
    width: 200px;
    height: 180px;
  }
}
@media screen and (min-width: 601px) and (max-width: 1200px) {
  .container h1 {
    font-size: 50px;
    font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
    margin-top: 20px;
  }
  .fuentesNav {
    margin-left: 300px;
    font-size: 20px;
    padding-left: 3rem;
    margin-bottom: 0;
  }
  .fuentesNav li {
    margin-top: 3%;
    align-items: center;
    font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  }
  .fuentesNav li a {
    color: aliceblue;
    margin-left: 30px;
  }
  header {
    color: whitesmoke;
    margin-bottom: 0;
  }
  .principal h1 {
    color: whitesmoke;
    font-size: 60px;
    font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
    text-align: center;
  }
  .principal p {
    color: whitesmoke;
    font-size: 10px;
    text-align: center;
  }
  .partidos {
    color: whitesmoke;
    font-size: 40px;
    text-align: center;
  }
  h2 {
    color: whitesmoke;
    font-size: 30px;
    margin-left: 20px;
  }
  main h2 {
    color: whitesmoke;
    font-size: 30px;
    display: flex;
  }
  header h1 {
    font-size: 40px;
    text-align: center;
  }
  .arg {
    color: whitesmoke;
  }
  .arg div h2 {
    text-align: center;
    font-size: 35px;
  }
  .arg div h2 .parra {
    font-size: 25px;
    margin-right: 3px;
  }
  p {
    text-align: center;
    justify-content: space-between;
  }
  .holanda {
    justify-content: center;
  }
  .holanda .hol1 {
    margin-left: 10px;
  }
  .holanda .hol2 {
    text-align: center;
  }
  .polonia {
    color: whitesmoke;
  }
  .polonia .pol1 {
    margin-right: 30px;
    font-size: 20px;
  }
  .polonia .pol2 {
    margin-right: 30px;
    font-size: 20px;
  }
  article {
    text-align: center;
  }
  article h2 {
    color: whitesmoke;
    font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
    font-size: 25px;
  }
  article p {
    color: whitesmoke;
    font-size: 20px;
  }
  article img {
    width: 250px;
    height: 300px;
  }
}
@media screen and (min-width: 1200px) {
  .container h1 {
    text-align: center;
    font-size: 80px;
    font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
    margin-top: 20px;
  }
  .fuentesNav {
    margin-left: 300px;
    font-size: 25px;
    padding-left: 3rem;
    margin-bottom: 0;
  }
  .fuentesNav li {
    margin-top: 3%;
    align-items: center;
    font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  }
  .fuentesNav li a {
    color: aliceblue;
    margin-left: 30px;
  }
  header {
    color: whitesmoke;
    margin-bottom: 0;
  }
  .principal h1 {
    color: whitesmoke;
    font-size: 60px;
    font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
    text-align: center;
  }
  .principal h2 {
    color: whitesmoke;
    font-size: 30px;
    text-align: center;
  }
  .principal iv {
    color: rgba(43, 5, 5, 0.849);
  }
  .principal iv .tituloForm {
    text-decoration: underline;
  }
  .principal iv .sloganForm {
    color: black;
  }
  .principal iv .fondoForm {
    background-color: brown;
  }
  .principal iv .smallForm {
    font-size: 15px;
  }
  .principal iv .colorBtn {
    background-color: rgba(39, 37, 37, 0.7725490196);
    color: black;
    font-size: 1.5rem;
    margin: 5px;
  }
  .principal iv .colorBtn:hover {
    background-color: brown;
    color: black;
  }
  .partidos {
    color: whitesmoke;
    font-size: 50px;
    text-align: center;
  }
  header h1 {
    font-size: 40px;
    text-align: center;
  }
  .arg {
    color: whitesmoke;
  }
  .arg div h2 {
    text-align: center;
    font-size: 35px;
  }
  .arg div h2 .parra {
    font-size: 25px;
    margin-right: 3px;
  }
  p {
    text-align: center;
    justify-content: space-between;
  }
  .holanda {
    justify-content: center;
  }
  .holanda .hol1 {
    margin-left: 10px;
  }
  .holanda .hol2 {
    text-align: center;
  }
  .polonia {
    color: whitesmoke;
  }
  .polonia .pol1 {
    margin-left: 155px;
    font-size: 20px;
  }
  .polonia .pol2 {
    margin-left: 155px;
    font-size: 20px;
  }
  article {
    text-align: center;
  }
  article h2 {
    color: whitesmoke;
    font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  }
  article p {
    color: whitesmoke;
  }
  article img {
    width: 300px;
    height: 350px;
  }
}

/*# sourceMappingURL=style.css.map */
