@import"../utilidades/variables";
@import"../utilidades/mixin";

.body7{
    background-image:linear-gradient($color-cuarto,$color-principal);
    background-attachment: fixed;
}
.arg{
    .croacia{
        font-size: 20px;
        .cro{
            color: $color-terciario;
            font-size: 20px;
            margin-right: 10%;
        }
        .cro2{
            color: $color-terciario;
            font-size: 20px;
            margin-right: 10%;
        }
    }
}