@import"../utilidades/variables";
@import"../utilidades/mixin";


.body4 {
    background-image: linear-gradient($color-cuarto,$color-principal);
    background-attachment: fixed;

}

.polonia {
    color: $color-terciario;
    .pol1{
       margin-left: 150px;
    }
    .pol2 {
        margin-left: 150px;
    }
}