@import"../utilidades/variables";
@import"../utilidades/mixin";


.body4 {
    background-image: linear-gradient($color-cuarto, $color-principal);
    background-attachment: fixed;

}

.polonia {
    color: $color-terciario;
    font-size: 20px;

    .pol1 {
        margin-left: 150px;
        color: $color-terciario;
    }

    .pol2 {
        margin-left: 150px;
        color: $color-terciario;
    }
}