@import"../utilidades/variables";
@import"../utilidades/mixin";
@import"../utilidades/extend";

@media screen and (min-width:1200px) {

    //inicio 
    .container {
        h1 {
            text-align: center;
            font-size: 80px;
            font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
            margin-top: 20px;
        }
    }

    .fuentesNav {
        margin-left: 300px;
        font-size: 25px;
        padding-left: 3rem;
        margin-bottom: 0;

        li {
            margin-top: 3%;
            align-items: center;
            font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

            a {
                color: aliceblue;
                margin-left: 30px;
            }
        }
    }

    header {
        color: $color-terciario;
        margin-bottom: 0;
    }


    //pag suscrip
    .principal {
        h1 {
            color: $color-terciario;
            font-size: 60px;
            font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
            text-align: center;
        }

        h2 {
            color: $color-terciario;
            font-size: 30px;
            text-align: center;
        }

        div {
            color: $color-principal;

            .tituloForm {
                text-decoration: underline;

            }

            .sloganForm {
                color: black;

            }

            .fondoForm {
                background-color: $color-cuarto;
            }

            .smallForm {
                font-size: 15px;
            }

            .colorBtn {
                background-color: $color-quinto;
                color: black;
                font-size: 1.5rem;
                margin: 5px;

                &:hover {
                    background-color: $color-cuarto;
                    color: black;
                }
            }
        }


    }

    //header partidos 
    .partidos {
        color: $color-terciario;
        font-size: 50px;
        text-align: center;
    }

    // main partidos


    // arg-ara estadisticas
    header {
        h1 {
            font-size: 40px;
            text-align: center;
        }
    }


    .arg {
        color: $color-terciario;

        div {
            h2 {
                text-align: center;
                font-size: 35px;
                color: $color-terciario;

                .parra {
                    font-size: 25px;
                    margin-right: 3px;
                }


            }
        }
    }

    p {
        text-align: center;
        justify-content: space-between;
    }


    .holanda {
        justify-content: center;

        .hol1 {
            margin-left: 10px;
        }

        .hol2 {
            text-align: center;
        }
    }

    .polonia {
        color: $color-terciario;

        .pol1 {
            margin-left: 155px;
            font-size: 20px;
        }

        .pol2 {
            margin-left: 155px;
            font-size: 20px;
        }
    }

    main {
        .tarjeta {
            display: flex;
            text-align: center;
            justify-content: center;
            align-items: center;
        }
    }



}