@import"../utilidades/variables";
@import"../utilidades/mixin";
@import "../utilidades/extend";

.bodyes {
    background-color: rgba(4, 15, 15, 0.637);

}

/*.row {
    border-radius: 10px;
    width: 100%;
    height: 90%;
    padding: 25px;
    margin-top: 10px;
    margin-bottom: 5px;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;*/

    .card {
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;
        margin-right: 5%;
        height: 380px;

        img {
            width: 100px
        }
    }



/*estadisticas listado*/
div{
    .estadistica2 {
        color: $color-cuarto;
        font-size: 20px;
        h3{
            color: $color-terciario;
        }
        .skills{
            .detalles{
                span{
                    color: $color-terciario;
                }
            }
    
        }
    }

}




.arg {
    color: $color-terciario;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

    .arg h2 {
        text-align: center;
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    }

    p {
        text-align: center;
        justify-content: space-between;
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    }

    .parra {
        text-align: center;
    }
}

.contenedorGol {
    display: flex;
    justify-content: center;
}

.gol {
    margin-left: 40px;
}

.FOR {
    font-size: 80px;
    color: $color-terciario;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    position: relative;
    right: 50%;

}

.tarjeta {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: 10px;


}