@import"../utilidades/variables";
@import"../utilidades/mixin";
@import"../utilidades/extend";

.bodyfotos {
    background-color: $color-principal;
}

.fot {
    color: $color-terciario;
}

.row img {
    width: 300px;
}