@import"../utilidades/variables";
@import"../utilidades/mixin";
@import"../utilidades/extend";

.body{
    
    background-image: linear-gradient(rgb(138, 15, 15),rgba(0, 0, 0, 0.822));
    background-attachment: fixed;
    
} 
div {
    .tituloForm {
        text-decoration: underline;

    }

    .sloganForm {
        color: black;

    }

    .fondoForm {
        background-color: $color-cuarto;
    }

    .smallForm {
        font-size: 20px;
    }

    .colorBtn {
        background-color: $color-quinto;
        color: black;
        font-size: 1.5rem;
        margin: 5px;

        &:hover {
            background-color: $color-cuarto;
            color: black;
        }
    }
}



