@import"../utilidades/variables";
@import"../utilidades/mixin";
@import"../utilidades/extend";

.body1 {
    background-image: linear-gradient($color-cuarto,$color-principal);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;


}

.container{
    h1{
        font-size: 80px;
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        margin-top: 20px;
    }
    nav{
        a{
            font-size: 23px;
            margin-left: 20px;
            margin-right: 150px;
        }
    }
}



header {
    color: $color-terciario;
    margin-bottom: 0;
}