@import"../utilidades/variables";
@import"../utilidades/mixin";
@import"../utilidades/extend";

.body1 {
    background-image: linear-gradient($color-cuarto,$color-principal);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;


}

.container {
    h1 {
        font-size: 80px;
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        margin-top: 20px;
        color: $color-terciario;
    }
    
}

.fuentesNav{
    li{
        a{
           margin-left: 50px;
           margin-right: 150px;
           color: $color-terciario;
        }
           
        }
    }



